


<h3>Soy el Panel personal del Doctor@ {{datosMedico.apellidoMedico}}</h3>

<br>
<a href="/logout" class="btn btn-dark">Cerrar sesión</a>

<br>

{{! Panel}}
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="perfil-tab" data-bs-toggle="tab" data-bs-target="#perfil-tab-pane" type="button" role="tab" aria-controls="perfil-tab-pane" aria-selected="true">Perfil</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="obras_sociales-tab" data-bs-toggle="tab" data-bs-target="#obras_sociales-tab-pane" type="button" role="tab" aria-controls="obras_sociales-tab-pane" aria-selected="false">Obras Sociales</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="modulos-tab" data-bs-toggle="tab" data-bs-target="#modulos-tab-pane" type="button" role="tab" aria-controls="modulos-tab-pane" aria-selected="false">Módulos</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="agenda-tab" data-bs-toggle="tab" data-bs-target="#agenda-tab-pane" type="button" role="tab" aria-controls="agenda-tab-pane" aria-selected="false">Agenda</button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="perfil-tab-pane" role="tabpanel" aria-labelledby="perfil-tab" tabindex="0">
        <div class="container">
            <h4>Mi Perfil</h4>
            <div class="accordion" id="accordionPerfil">
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionPerfil">
                    <div class="accordion-body">
                        <table class="table table-borderless w-50">
                            <tbody>
                                <tr>
                                    <th scope="nombreMedico">Nombre</th>
                                    <td>{{datosMedico.nombreMedico}}</td>
                                </tr>
                                <tr>
                                    <th scope="apellidoMedico">Apellido</th>
                                    <td>{{datosMedico.apellidoMedico}}</td>
                                </tr>
                                <tr>
                                    <th scope="especialidad">Especialidad</th>
                                    <td>{{datosMedico.especialidad}}</td>
                                </tr>
                                <tr>
                                    <th scope="resena">Reseña</th>
                                    <td rowspan="4">{{datosMedico.resena}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <button class="btn btn-warning collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Modificar Datos Personales</button>
                </div>
                <div id="collapseTwo" class="accordion-collapse collapse w-50" data-bs-parent="#accordionPerfil">
                    <div class="accordion-body">
                        <form action="/actualizarmedico" method="post">
                            <div class="mb-3">
                                <label for="nombreMedico" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="nombreMedico" name="nombreMedico" value="{{datosMedico.nombreMedico}}" required>
                            </div>
                            <div class="mb-3">
                                <label for="apellidoMedico" class="form-label">Apellido</label>
                                <input type="text" class="form-control" id="apellidoMedico" name="apellidoMedico" value="{{datosMedico.apellidoMedico}}" required>
                            </div>
                            <div class="mb-3">
                                <label for="especialidad" class="form-label">Especialidad</label>
                                <input type="text" class="form-control" id="especialidad" name="especialidad" value="{{datosMedico.especialidad}}" required>
                            </div>
                            <div class="mb-3">
                                <label for="resena" class="form-label">Escriba una breve reseña suya</label>
                                <textarea class="form-control" id="resena" name="resena" rows="3" required>{{datosMedico.resena}}</textarea>
                            </div>
                            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Descartar cambios</button>
                            <button type="submit" class="btn btn-primary">Actualizar Perfil</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="obras_sociales-tab-pane" role="tabpanel" aria-labelledby="obras_sociales-tab" tabindex="0">
        <div class="container">
            <h4>Obras Sociales</h4>
            <form action="/os_medicos" method="post">
                <ul class="list-group mb-3 overflow-auto w-50" style="height: 40vh;">
                    {{#each datosObrasSociales}}
                    <li class="list-group-item">
                        <div class="form-check form-switch">
                            <input class="form-check-input me-1" type="checkbox" role="switch" name="idOS" value="{{idOS}}" id="idOS{{idOS}}" {{#if usuarioMedico}}checked{{/if}}>
                            <label class="form-check-label stretched-link" for="idOS{{idOS}}">{{nombreObraSocial}}</label>
                        </div>
                    </li>
                    {{/each}}
                </ul>
                <input type="hidden" name="idOS" value="1">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end w-50">
                    <button class="btn btn-primary" type="submit">Aplicar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="tab-pane fade" id="modulos-tab-pane" role="tabpanel" aria-labelledby="modulos-tab" tabindex="0">
        <div class="container vh-75">
            <div class="d-flex justify-content-between mt-3">
                <h4>Mis Módulos</h4>
                <button type="button" class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#modalAgregarModulo">+ Agregar Nuevo Módulo</button>
            </div>
            <table class="table table-striped table-sm table-hover table-warning mt-3" id="tablaModulos">
                <thead>
                    <tr class="">
                        <th scope="col" colspan="3" class="text-center">Dirección</th>
                        <th scope="col">Día de la semana</th>
                        <th scope="col">Hora de inicio</th>
                        <th scope="col">Duración de los turnos</th>
                        <th scope="col">Cantidad de turnos</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="overflow-auto">
                    {{#each datosModulos}}
                    <tr>
                        <td>{{calle}}</td>
                        <td>{{ciudad}}</td>
                        <td>{{provincia}}</td>
                        <td class="text-center">{{diaSemana}}</td>
                        <td class="text-center">{{horaInicio}}</td>
                        <td class="text-center">{{duracion}} min</td>
                        <td class="text-center">{{cantidadTurnos}}</td>
                        <td>
                            <button type="button" class="btn btn-info btn-sm" id="btnModificarModulo" data-bs-toggle="modal" data-bs-target="#modalModificarModulo" data-idmodulo="{{idModulo}}" data-calle="{{calle}}" data-ciudad="{{ciudad}}" data-provincia="{{provincia}}" data-diasemana="{{diaSemana}}" data-horainicio="{{horaInicio}}" data-duracion="{{duracion}}" data-cantidadturnos="{{cantidadTurnos}}">Modificar</button>
                            <button type="button" class="btn btn-danger btn-sm" id="btnEliminarModulo" data-bs-toggle="modal" data-bs-target="#modalEliminarModulo" data-idmodulo="{{idModulo}}" data-calle="{{calle}}" data-ciudad="{{ciudad}}" data-provincia="{{provincia}}" data-diasemana="{{diaSemana}}" data-horainicio="{{horaInicio}}">Eliminar</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>


        {{! Modal para Agregar Nuevos Módulos}}
        <div class="modal fade" id="modalAgregarModulo" tabindex="-1" aria-labelledby="nuevoModulo" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form action="/nuevomodulo" method="post">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="nuevoModulo">Complete el formulario para agregar un nuevo módulo de atención</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="direccion" class="form-label fs-5">Dirección del Consultorio:</label>
                                <br>
                                <label for="calle" class="form-label">Calle</label>
                                <input type="text" class="form-control" name="calle" id="calle" required>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="ciudad" class="form-label">Ciudad</label>
                                    <input type="text" class="form-control" name="ciudad" id="ciudad" required>
                                </div>
                                <div class="col">
                                    <label for="provincia" class="form-label">Provincia</label>
                                    <input type="text" class="form-control" name="provincia" id="provincia" required>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="diaSemana" class="form-label">Día de la semana:</label>
                                <select class="form-select" name="diaSemana" id="diaSemana" required>
                                    <option value="lunes">lunes</option>
                                    <option value="martes">martes</option>
                                    <option value="miercoles">miércoles</option>
                                    <option value="jueves">jueves</option>
                                    <option value="viernes">viernes</option>
                                    <option value="sabado">sábado</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="horaInicio" class="form-label">Horario de Inicio del Módulo:</label>
                                <input type="time" class="form-control" name="horaInicio" id="horaInicio" required>
                            </div>
                            <div class="mb-3">
                                <label for="duracion" class="form-label">Duración de cada turno (minutos):</label>
                                <input type="number" class="form-control" name="duracion" id="duracion" required>
                            </div>
                            <div class="mb-3">
                                <label for="cantidadTurnos" class="form-label">Cantidad de turnos del Módulo:</label>
                                <input type="number" class="form-control" name="cantidadTurnos" id="cantidadTurnos" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-success">Agregar Modulo</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {{! Modal para Modificar Módulos}}
        <div class="modal fade" id="modalModificarModulo" tabindex="-1" aria-labelledby="modificarModulo" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form action="/updatemodulo" method="post">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modificarModulo">Modificar Módulo</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="direccion" class="form-label fs-5">Dirección del Consultorio:</label>
                                <br>
                                <label for="calle" class="form-label">Calle</label>
                                <input type="text" class="form-control" name="calle" id="calleModificar" required>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="ciudad" class="form-label">Ciudad</label>
                                    <input type="text" class="form-control" name="ciudad" id="ciudadModificar" required>
                                </div>
                                <div class="col">
                                    <label for="provincia" class="form-label">Provincia</label>
                                    <input type="text" class="form-control" name="provincia" id="provinciaModificar" required>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="diaSemana" class="form-label">Día de la semana:</label>
                                <select class="form-select" name="diaSemana" id="diaSemanaModificar" required>
                                    <option value="lunes">lunes</option>
                                    <option value="martes">martes</option>
                                    <option value="miercoles">miércoles</option>
                                    <option value="jueves">jueves</option>
                                    <option value="viernes">viernes</option>
                                    <option value="sabado">sábado</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="horaInicio" class="form-label">Horario de Inicio del Módulo:</label>
                                <input type="time" class="form-control" name="horaInicio" id="horaInicioModificar" required>
                            </div>
                            <div class="mb-3">
                                <label for="duracion" class="form-label">Duración de cada turno (minutos):</label>
                                <input type="number" class="form-control" name="duracion" id="duracionModificar" required>
                            </div>
                            <div class="mb-3">
                                <label for="cantidadTurnos" class="form-label">Cantidad de turnos del Módulo:</label>
                                <input type="number" class="form-control" name="cantidadTurnos" id="cantidadTurnosModificar" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="idModulo" id="idModuloModificar">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-info">Modificar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {{! Modal para Eliminar Módulos}}
        <div class="modal fade" id="modalEliminarModulo" tabindex="-1" aria-labelledby="eliminarModulo" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form action="/deletemodulo" method="post">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="eliminarModulo">¿Desea eliminar este Módulo?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class="fs-6 fw-semibold"><span id="calleDelete">Calle</span>, <span id="ciudadDelete">Ciudad</span>, <span id="provinciaDelete">Provincia</span></p>
                            <p class="fs-6 fw-semibold"><span id="diaSemanaDelete">Día de la semana</span> - <span id="horaInicioDelete">Hora de Inicio</span></p>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="idModulo" id="idModuloDelete">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <div class="tab-pane fade" id="agenda-tab-pane" role="tabpanel" aria-labelledby="agenda-tab" tabindex="0">
        <h4>Mis Agendas</h4>
    </div>
</div>



<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

<script>
    // JQuery para pasar la información a los Modales y por estos al backend:
    $(document).ready(function() {
        //Modal de Modificar Módulos
        $('#tablaModulos').on('click', '#btnModificarModulo', function() {
            //Creación de variables para pasarle la información al Modal
            let idModal = $(this).data('idmodulo');
            let calleModal = $(this).data('calle');
            let ciudadModal = $(this).data('ciudad');
            let provinciaModal = $(this).data('provincia');
            let diaSemanaModal = $(this).data('diasemana');
            let horaInicioModal = $(this).data('horainicio');
            let duracionModal = $(this).data('duracion');
            let cantidadTurnosModal = $(this).data('cantidadturnos');
            //Asignación de los valores a los inputs del Modal
            $('#idModuloModificar').val(idModal);
            $('#calleModificar').val(calleModal);
            $('#ciudadModificar').val(ciudadModal);
            $('#provinciaModificar').val(provinciaModal);
            $('#diaSemanaModificar').val(diaSemanaModal);
            $('#horaInicioModificar').val(horaInicioModal);
            $('#duracionModificar').val(duracionModal);
            $('#cantidadTurnosModificar').val(cantidadTurnosModal);
        })

        //Modal de Eliminar Módulos
        $('#tablaModulos').on('click', '#btnEliminarModulo', function() {
            //Creación de variables para pasarle la información al Modal
            let idModal = $(this).data('idmodulo');
            let calleModal = $(this).data('calle');
            let ciudadModal = $(this).data('ciudad');
            let provinciaModal = $(this).data('provincia');
            let diaSemanaModal = $(this).data('diasemana');
            let horaInicioModal = $(this).data('horainicio');
            //Asignación del id del Módulo al input tipo hidden que pasará al backend
            $('#idModuloDelete').val(idModal);
            //Renderizar la información del Módulo en el Modal
            $('#calleDelete').html(calleModal);
            $('#ciudadDelete').html(ciudadModal);
            $('#provinciaDelete').html(provinciaModal);
            $('#diaSemanaDelete').html(diaSemanaModal);
            $('#horaInicioDelete').html(horaInicioModal);
        })
    })
</script>